ion-title{
    font-family: 'Modak', cursive;
    font-size: 33px;
    text-align: center;
    padding-right: 50px;
    padding-left: 0;
}

span {

    color: #FF3F4D;
    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize;
}